    @import url('https://fonts.googleapis.com/css?family=Roboto|Spartan&display=swap');
     :root {
        --radius: 0.25rem;
        --fondo-btn-primario: #cecece;
    }
    /* generales */
    
    body {
        display: contents;
        font-family: 'Spartan', sans-serif;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Roboto', sans-serif;
    }
    
    a {
        font-family: 'Roboto', sans-serif;
    }
    
    div,
    section,
    article,
    body {
        box-sizing: border-box;
        height: 100%;
    }
    
    section {
        padding: 3rem 1rem;
    }
    
    #bienvenida {
        height: 100vh;
        width: 100%;
        padding: 0;
    }
    
    .bienvenidaSlide {
        position: relative;
        height: 100%;
        width: 100%;
    }
    
    .bienvenidaSlideTexto {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    
    .bienvenidaSlide img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 0;
    }
    /*Slider*/
    
    .slick-next {
        right: 0.75rem;
    }
    
    .slick-prev {
        left: 0.75rem;
        z-index: 1;
    }
    
    .slick-prev::before,
    .slick-next::before {
        font-size: 2rem;
        color: lightblue;
    }
    /*productos*/
    
    #productos {
        display: block;
    }
    
    #productos .contenedor-productos {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        box-sizing: border-box;
        padding: 1rem;
    }
    
    #productos .contenedor-grid {
        text-align: center;
    }
    
    #productos article {
        border: 1px solid lightgray;
        display: inline-grid;
        padding: 1rem;
        border-radius: var(--radius);
        box-shadow: 2px 2px 4px;
        padding: 0.75rem;
    }
    
    #productos article div {
        width: 100%;
        max-height: 10rem;
        display: flex;
        justify-content: center;
    }
    
    #productos article div img {
        height: 8rem;
        object-fit: cover;
        width: 100%;
    }
    
    #productos article h1 {
        text-align: center;
    }
    
    #productos article p {
        text-align: center;
        color: darkgreen;
        margin-top: 0;
    }
    /*Botones*/
    
    .btn-primario {
        color: whitesmoke;
        background-color: var(--fondo-btn-primario);
        border-radius: var(--radius);
        box-sizing: border-box;
        padding: 1rem 3rem;
        text-decoration: none;
        text-align: center;
    }
    /* seccion ejercicio */
    
    #ejercicio p {
        transition: 10s;
        overflow: hidden;
        height: 0;
    }
    /*Responsivos*/
    /*XS*/
    
    @media screen and (min-width: 768px) {
        #productos {
            grid-template-columns: 1fr 1fr;
        }
    }
    /*SM*/
    
    @media screen and (min-width: 992px) {
        #productos {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    /*Med*/
    
    @media screen and (min-width: 1200px) {
        #productos {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    /*  */
    
    .padding-0 {
        padding: 1rem;
    }
    
    .padding-1 {
        padding: 2rem;
    }
    
    .padding-2 {
        padding: 3rem;
    }
    
    .slick-dots {
        left: 0;
    }