// @font-face {
//     font-family: 'slantregular';
//     src: url('../fonts/txt/slant-webfont.woff2') format('woff2'),
//          url('../fonts/txt/slant-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// Importa las fuentes 
@import url('https://fonts.googleapis.com/css?family=Anton|Liu+Jian+Mao+Cao|Spicy+Rice&display=swap');
// Crea las variables de familia texto
$titulos: 'Liu Jian Mao Cao';
$textos: 'Rice';
$texto_especial: 'Spicy';
// Crea variables de tamano
$small: 0.5rem;
$medium: 1rem;
$large: 3rem;
// Crea un Array asociativo de variables (nombre -> valor)
$lista-fuentes: ( titulos $titulos, // indice 0
textos $textos, // indice 1
texto_especial $texto_especial //indice 2
);
$lista-tamanos: ( small $small, // indice 0
medium $medium, // indice 1`
large $large //indice 2
);
// Crea las clases
// por medio de Iteracion
@each $valor in $lista-fuentes {
    .font-#{nth($valor, 1)} {
        & {
            font-family: nth($valor, 2);
        }
    }
}

// Las clases creadas son:
// .font-titulos
// .font-textos
// .font-texto_especial
// Estas pueden ser repartidas en los elementos HTML de la sig. manera:
// ej.:
// <section>
// <h1 class="font-titulos">Titulo</h1>
// <p class="font-textos">lorem impsum dolor .... </p>
// </section>
@each $item in $lista-tamanos {
    .font-#{nth($item,1)} {
        font-size: nth($item, 2);
    }
}

// Las clases creadas son:
// .font-small
// .font-medium
// .font-large