// TODO: estilos a todo el sitio
// Creacion automatica clases
// Crear un theming
//
// SASS
@import "./_patela.color";
@import "./_fuentes";
// sintaxis version SASS
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  main {
    box-sizing: border-box;
    section {
      box-sizing: border-box;
    }
    #calculos {
      background-color: pink;
    }
    #ejercicio {
      background-color: plum;
    }
  }
  // seccion header
  header {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: start;
    height: 3.5rem;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    background-color: white;
    box-shadow: 2px 0px 3px #000;

    .logo {
      height: 100%;
      img {
        object-fit: contain;
        height: 100%;
        width: 400%;
      }
    }
    .menu {
      display: flex;
      width: 100%;
      justify-content: right;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-flex;
        li {
          list-style-type: none;
          height: 100%;
          display: flex;
          align-items: center;
          a {
            padding: 1rem;
            text-decoration: none;
          }
        }
      }
    }
  }
  footer {
    background-color: lightgray;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      height: auto;
      font-size: 0.75rem;
      small {
        color: gray;
      }
    }
  }
}
h1 {
  text-decoration-color: $color-blanco;
}
// seccion productos
#productos {
  background-color: $color-3;
  article {
    background-color: $color-3;
    h1 {
      font-family: "Liu Jian Mao Cao";
    }
    a {
      background-color: $color-1;
      &:hover {
        background-color: $color-oscuro;
      }
    }
  }
}

// Seccion calculadora
